@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
/* 
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(337, 48%, 95%);
  scroll-behavior: smooth;
}

.wrapper {
  background-color: white;
  max-width: 1440px;
  width: 55%;
  margin: 100px auto;
  padding: 30px;
  border-radius: 20px;
}

.container {
  width: 98%;
  margin: auto;
}

.image {
  width: 98%;
}

#image {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

/* showcas-header start */
.showcas-header h1 {
  font-size: 37px;
  color: hsl(24, 5%, 18%);
  margin-top: 30px;
  font-family: "Young Serif", serif;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0;
}

p,
li {
  color: hsl(24, 5%, 18%);
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

.showcase-main {
  background-color: hsl(337, 48%, 95%);
  padding: 30px 35px;
  border-radius: 15px;
  margin: 30px 0;
}

.showcase-main h4 {
  font-size: 20px;
  color: hsl(332, 51%, 32%);
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

.showcase-main ul {
  margin-left: 20px;
}

.showcase-main ul li,
.show-instruction ol li {
  margin-left: 20px;
  padding-left: 15px;
}

li::marker {
  color: hsl(331, 30%, 18%);
  font-weight: bold;
}

ul {
  margin-bottom: 20px;
}

.ingredients h1,
.instruction h1,
.nutrition h1 {
  color: hsl(331, 30%, 18%);
  text-transform: capitalize;
  margin: 30px 0 10px 0;
  font-size: 25px;
  font-family: "Young Serif", serif;
}

.ingredients ul {
  margin-left: 25px;
}

.show-ingredients ul li {
  padding-left: 10px;
}

.show-instruction li {
  line-height: 1.6;
  margin: 10px 0;
}

.nutrition-list ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 30px;
}

.nutrition-list ul li:last-child {
  color: hsl(331, 30%, 18%);
  font-weight: bold;
}

.nutrition-list ul {
  margin-bottom: 0px;
}

.nutrition-list ul li {
  list-style: none;
  margin: 5px 0;
}

hr {
  height: 2.5px;
  background-color: hsl(30, 18%, 87%);
}

@media (max-width: 920px) {
  .wrapper {
    width: 70%;
  }
  .showcas-header h1 {
    font-size: 33px;
  }
}

@media (max-width: 660px) {
  .wrapper {
    width: 100%;
    border-radius: 0;
    margin: 0 auto;
    padding: 0;
  }

  .container {
    width: 88%;
  }

  .image {
    width: 100%;
  }

  #image {
    border-radius: 0;
  }

  .showcase-image .container {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .showcas-header h1 {
    font-size: 30px;
  }

  .showcase-main ul li {
    font-size: 16;
  }

  .nutrition-list ul {
    width: 70%;
  }
}

@media (max-width: 440px) {
  .showcas-header h1 {
    font-size: 33px;
  }
}
